/* Genel Stil */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

/* Kart Stilleri */
.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

    .card h5 {
        font-size: 20px;
        font-weight: bold;
    }

    .card p {
        font-size: 36px;
        font-weight: bold;
    }

/* List Group Stilleri */
.list-group-item {
    font-size: 18px;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 5px;
}

    .list-group-item:hover {
        background-color: #e9ecef;
    }

/* Başlıklar */
h2 {
    font-size: 28px;
    font-weight: bold;
    color: #333;
}
